<div class="todos-wrapper">
  <div class="container">

  <div class="todo-item">
    <div class="check-box">
      <i class="material-icons-outlined">check</i>
    </div>
    <p class="todo-text">This is todo text</p>
  </div>

    <div class="todo-item completed">
      <div class="check-box ">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">This is todo text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquam amet aut dolores, eos esse fuga magnam magni natus nulla omnis porro possimus sed temporibus unde! Iure molestiae quas sit.</p>
    </div>

  </div>
</div>
