// Colours
$lightest-purple: #e1e2ed;
$lightest-gray: #f5f5f5;
$white: white;
$background-image: "https://images.unsplash.com/photo-1691437196656-a886a056d1dd?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY5MzEyMTQyMA&ixlib=rb-4.0.3&q=80&w=1920";

.app-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url($background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.top-section{
  //background-color: aquamarine;
  text-align: center;
  padding: 100px 0;

  h1{
    font-size: 120px;
    font-weight: bold;
    color: $lightest-gray;
    text-shadow: 0 1px 7px rgba(black,0.1);
  }

  h2{
    font-size: 28px;
    color: $white;
    text-shadow: 0 1px 4px rgba(black,0.1);
  }
}

.content-section{
  //background-color: cadetblue;
  flex-grow: 1;
  min-height: 0;
  overflow-y: auto;
}

.bottom-section{
  //background-color: coral;
  display: flex;

  app-tabs{
    margin: auto;
  }
}
