<div class="tabs">
  <a class="tab bookmarks-tab " [routerLink]="'bookmarks'" [routerLinkActive]="'selected'">
    <div class="tab-tile">
      <i class="material-icons-outlined">bookmarks</i>
    </div>
  </a>

  <a class="tab todos-tab" [routerLink]="'todos'" [routerLinkActive]="'selected'">
    <div class="tab-tile">
      <i class="material-icons-outlined">check</i>
    </div>
  </a>

  <a class="tab notes-tab" [routerLink]="'notes'" [routerLinkActive]="'selected'">
    <div class="tab-tile">
      <i class="material-icons-outlined">notes</i>
    </div>
  </a>
</div>
