<div class="container">
  <div class="add-notes-wrapper has-blurred-white-bg">
    <h2 class="is-bold">{{ idControl?.value ? 'Edit': 'New'}} Note</h2>
    <form (ngSubmit)="onFormSubmit()" [formGroup]="addNoteReactiveForm">
      <div class="form-field">
        <input class="textbox" type="text" placeholder="Enter note title..." formControlName="title">
        <p *ngIf="titleControl?.touched && (titleControl?.hasError('required') || titleControl?.hasError('containSpace') ) ">Please enter a valid Title</p>
        <p *ngIf="titleControl?.touched && titleControl?.hasError('minlength')">Title must be at least 3 characters*</p>
      </div>
      <div class="form-field">
        <textarea class="textarea" placeholder="Enter note content..." formControlName="content"></textarea>
      </div>
      <div class="btns-container ">
        <a class="btn" [routerLink]="'/notes'">Cancel</a>
        <button type="button" class="btn" *ngIf="idControl?.value" (click)="deleteNote()">Delete</button>
        <button type="submit" class="btn align-end">{{ idControl?.value ? 'Update': 'Create'}}</button>
      </div>
    </form>
  </div>
</div>
