.todo-item{
  display: flex;
  align-items: center;
  background-color: rgba(black,0.5);
  border-radius: 25px;
  margin-bottom: 15px;
  padding: 10px 12px;
  cursor: pointer;
  position: relative;

}

.todo-text{
  color: rgba(white,0.84);
}
.check-box{
  padding: 4px;
  border: 2px solid rgba(white,0.35);
  border-radius: 50%;
  margin-right: 15px;
  display: flex;

  i{
    font-size: 18px;
    opacity: 0;
    cursor: pointer;
  }
}

.todo-item:hover{
  .todo-text{
    color: rgba(white,0.95);;
  }
  .check-box{
    border-color: transparent;
    background-color: rgba(white,0.35);
  }
}

.todo-item.completed{
  .todo-text{
    color: rgba(white,0.5);
  }
  .check-box{
    border-color: transparent;
    background: rgb(9,218,89);
    i{
      opacity: 1;
    }
  }
}

.todo-text, .check-box{
  transition: all 0.2s ;
}

.todo-item-actions{
  position: absolute;
  right: 5px;
  top:4px;
  background: rgba(72,72,82,0.75);
  border-radius: 25px;
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 12px rgba(black,0.2);

  // hide by default
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  transform: scale(0.8);

}


.todo-item-action-btn {
  background: transparent;
  border-radius: inherit;
  padding: 10px;

  &:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 14px;
  }
  &:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 12px;
  }

  &:hover{
    background: rgb(50,50,53);
  }

  i{
    font-size: 20px;
  }
}

.todo-item:hover .todo-item-actions{
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
  transform: scale(1);
}

